# requirements.in

Flask
Alembic
Gunicorn
Httplib2
Marshmallow
Marshmallow-sqlalchemy
SQLAlchemy
Stripe
WTForms
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Marshmallow
Flask-Login
Flask-Heroku
Flask-Mail
psycopg2-binary
Flask-Admin
Passlib
Flask-Security
Requests
libsass
Mako
MarkupSafe
packaging
Pillow
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
pyparsing
pyScss
python-dateutil
python-editor
pytz
redis
rsa
uritemplate
webassets
webencodings
Werkzeug
Flask-Caching
Flask-Assets
Dj-Database-Url
