body,
html {
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  min-width: 300px;
  padding: 0;
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: rgba(48, 44, 44, 0.8);
  font-family: "Arial Narrow", sans-serif; }

label {
  margin-top: 20px; }

a:hover {
  color: inherit;
  text-decoration: none; }

p {
  text-align: justify; }

.flex {
  display: flex;
  flex-direction: row; }

.space-around {
  justify-content: space-evenly; }

.kokeshi-nav-item {
  list-style: none;
  width: 20%; }

.title {
  margin-bottom: 20px;
  text-align: center; }

.btn {
  margin: 20px 0;
  width: 100%; }

.btn-kokeshi {
  background-color: #64efc1;
  background-image: linear-gradient(180deg, #64efc1 0, #4ccea3 100%);
  border-color: rgba(76, 206, 163, 0.5); }
  .btn-kokeshi:hover {
    background-image: linear-gradient(180deg, #64efc1 0, #4ccea3 70%);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, background-image .15s ease-in-out; }

.link-text {
  bottom: -70px;
  color: #302c2c;
  font-family: "Arial Narrow", sans-serif;
  letter-spacing: -2px;
  position: relative;
  text-decoration: none;
  text-orientation: upright;
  writing-mode: vertical-rl; }
  .link-text:hover {
    color: #302c2c; }
    .link-text:hover::before {
      transform: scaleX(1);
      visibility: visible; }
  .link-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s; }

.navbar-brand {
  font-family: "Handlee", cursive;
  font-size: 2em;
  font-weight: 600;
  margin-left: 30px;
  padding: 0; }

.navbar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  padding: 0; }

.navbar-nav {
  position: relative; }
  .navbar-nav .nav-link {
    padding-left: 10px; }

.bg-image-full-1 {
  background: rgba(100, 239, 193, 0.6);
  background-attachment: fixed; }

.color-accent {
  background-color: #64efc1;
  color: #302c2c; }

.caps {
  text-transform: uppercase; }

.form-group {
  margin-bottom: 0; }

.container--small {
  justify-content: center;
  width: 33%; }

.center-content {
  margin-left: auto;
  margin-right: auto; }

.kokeshi-button {
  background-image: url("../img/yama_kokeshi(cut-paper).svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  text-align: center; }
  .kokeshi-button:hover {
    background-image: url("../img/yamagata_kokeshi(cut).svg");
    transition: .3s; }

.design-form {
  width: 90%; }

.kokeshi-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600; }

.kokeshi-model {
  background-image: url("/static/img/kokeshi_model.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Handlee", cursive;
  height: 645px;
  margin: 10px;
  position: relative;
  width: 240px; }

.kokeshi-info {
  margin-left: 8%;
  margin-right: auto;
  position: absolute;
  text-align: center;
  top: 250px;
  width: 80%; }

.kokeshi-message {
  margin-left: 20%;
  margin-right: auto;
  position: absolute;
  text-align: justify;
  top: 370px;
  width: 60%; }

.message {
  display: inline-block;
  padding: 5px;
  word-break: break-word; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: .3s; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.card--order {
  font-family: "Handlee", cursive; }

.order {
  justify-content: center; }

.container {
  padding: 0 16px; }

.message--order {
  display: inline-block;
  padding: 5px;
  text-align: justify;
  width: 15%;
  word-break: break-word; }

@media screen and (max-width: 540px) {
  .bg-image-full-1 {
    background-position: 0 0;
    background-size: cover; } }

@media screen and (min-width: 720px) {
  .kokeshi-button {
    height: 400px;
    margin-top: 40px; }
  .link-text {
    bottom: -400px;
    letter-spacing: normal;
    writing-mode: horizontal-tb; }
  .bg-image-full-1 {
    height: 90vh; }
  .design-form {
    margin-right: 20px;
    width: 300px; }
  .kokeshi-display {
    align-items: flex-end;
    flex-direction: row;
    justify-content: center; } }
