{% extends 'base.html' %}

{% block title %}
<title>About us | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
      <span class="keyvisual__description"></span>
    </h2>
  </div>
</div>

<section class="about__content content container">
  <h1 class="title center-text">About us</h1>
  <div class="flex-container">
    <p class="content-block flex-item">KokeMama is a purveyor of authentic, traditionally hand-crafted Kokeshi dolls from the Tohoku region of Japan. Born out of a respect of the craft, the concept of KokeMama has evolved to include the tradition of creating dolls made to the same height as the baby it is gifted to.</p>
    <p class="content-block flex-item">The Tohoku region of Japan is the birthplace of the Kokeshi doll, and there are numerous styles, which differ by area. Located in Yamagata prefecture, KokeMama works with artisans who have been practicing the art of hand turning and painting Kokeshi for decades, hence the unrivaled quality and authenticity of these treasured keepsakes.</p>
  </div>
</section>
{% endblock %}
