{% extends 'base.html' %}

{% block title %}
<title>About us and our Kokeshi</title>
{% endblock %}

{% block content_1 %}
<article id="about" class="container">
  <section class="card">
    <h1 class="title">About us</h1>
    <p>KokeMama is a purveyor of authentic, traditionally hand-crafted Kokeshi dolls from the Tohoku region of Japan. Born out of a respect of the craft, the concept of KokeMama has evolved to include the tradition of creating dolls made to the same height as the baby it is gifted to.</p>
    <p>The Tohoku region of Japan is the birthplace of the Kokeshi doll, and there are numerous styles, which differ by area. Located in Yamagata prefecture, KokeMama works with artisans who have been practicing the art of hand turning and painting Kokeshi for decades, hence the unrivaled quality and authenticity of these treasured keepsakes.</p>
  </section>
</article>
{% endblock %}
