{% extends 'base.html' %}

{% block title %}
<title>About us | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
      <span class="keyvisual__description"></span>
    </h2>
  </div>
</div>

<section class="about__content container">
  <h1 class="title center-text">About Us</h1>
  <div class="container-flex--space-around flex-direction">
    <p class="blurb blurb1 center-text">KokeMama is a purveyor of authentic, traditionally hand-crafted Kokeshi dolls from the Tohoku region of Japan.</p>
    <p class="blurb blurb2 center-text">Born out of a respect for the craft, the concept of KokeMama is spreading the tradition of creating dolls made to the same height as the baby they are gifted to.</p>
    <p class="blurb blurb3 center-text">The Tohoku region of Japan is the birthplace of the Kokeshi doll, and there are numerous styles, which differ by area.</p>
    <p class="blurb blurb4 center-text">Located in Yamagata prefecture, KokeMama works with artisans who have been practicing the art of hand turning and painting Kokeshi for decades, hence the unrivaled quality and authenticity of these treasured keepsakes.</p>
  </div>
  <form action="{{ url_for('showDesignPage') }}">
      <button type="submit" value="Go to the design page" class="btn about__btn">Start Designing</button>
  </form>

  <div class="filler">
  </div>
</section>
{% endblock %}
