<!DOCTYPE html>
<html lang="en-US"
    dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=Edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="description"
            content="Authentic Japanese Kokeshi doll baby gifts from the Tohoku region. A unique keepsake.">
        <meta name="author"
            content="Miles Whitman">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-57LS7L6');</script>
        <!-- End Google Tag Manager -->

        {% block title %}
        {% endblock %}

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

        <link rel="shortcut icon"
            href="/static/img/favicon-96x96.png">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Handlee|Source+Sans|Montserrat" rel="stylesheet">


        <link rel="stylesheet"
            href="/static/css/styles.css">


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130399770-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-130399770-1');
        </script>

    </head>

    <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57LS7L6"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
        <!-- Header - set the background image for the header in the line below -->
      <div class="wrapper">
        <div id="page-wrapper" class="page-wrapper">
          <div id="overlay" class=""></div>
          <header class="header">
            <div id="header" class="header__upper">

              <!-- Navigation -->
              <div class="header__utility-container">
                <ul class="header__icons">
                  <li class="header__icon header__bars">
                    <a id="menu-toggle" class="header__link-icon" href="" title="Button to toggle slide out menu"><i class="fas fa-bars"></i></a>
                  </li>
                  <li class="header__icon header__cart">
                    <a class="header__link-icon" href="{{ url_for('showAboutPage')}}" title="About us page"><i class="fas fa-baby-carriage"></i></a>
                  </li>
                </ul>
                <div class="header__mobile-brand">
                  <a class="header__brand-inner" href="{{ url_for('showHome') }}" title="Home page">
                    <img src="../static/img/KokeMama(diamond).svg" width="100%" alt="White diamond KokeMama logo" class="header__brand-img svg-fit">
                  </a>
                </div>
              </div>
            </div>
            <div id="menu" class="header__lower">
              <nav class="header__lower-container">
                <div class="header__brand">
                  <a class="header__brand-inner" href="{{ url_for('showHome') }}" title="Home page">
                    <img src="../static/img/KokeMama(diamond-black).svg" width="100%" alt="Black diamond KokeMama logo" class="header__brand-img svg-fit">
                  </a>
                </div>
                <div class="header__mobile-head">
                  <a href="{{ url_for('showHome') }}" title="Home page">
                    <img src="../static/img/KokeMama(diamond-black).svg" width="100%" alt="Black diamond KokeMama logo" class="header__brand-img svg-fit">
                  </a>
                  <span class="back">Back</span>
                </div>
                <ul class="header__menus menus-depth-0 clearfix">
                  <li class="header__menu menu-depth-0 header__dropdown-toggle">
                    <a class="header__link default" href="{{ url_for('showAboutPage')}}" title="About us page">
                      <span>About us</span>
                    </a>
                  </li>
                  <li class="header__menu menu-depth-0 header__dropdown-toggle">
                    <a class="header__link default" href="{{ url_for('showDesignPage')}}" title="Kokeshi design page">
                      <span>Design a kokeshi</span>
                    </a>
                  </li>
                  <li class="header__menu menu-depth-0 header__dropdown-toggle">
                    <a class="header__link default" href="{{ url_for('showContactPage')}}" title="Contact us page">
                      <span>Contact us</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>

          <main class="content-main-wrapper clearfix">

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}


                <div id="keyvisual" class="keyvisual keyvisual--anchor-fixed">
                  <div id="app">
                    {% block content_1 %}
                    {% endblock %}
                  </div>
                </div>

                {% block content_2 %}
                {% endblock %}
          </main>


          <!-- Footer -->

          <footer class="footer">
            <div class="dark">
              <p class="footer__text center-text">Copyright &copy; KokeMama
                  2018</p>
              </div>
          </footer>
        </div>
      </div>

      <script>
      // Drawer menu
        const toggleBtn = document.querySelector('#menu-toggle');
        const menuEl = document.querySelector('#menu');
        const headerEl = document.querySelector('#header');
        const pageWrapEl = document.querySelector('#page-wrapper');
        const visualEl = document.querySelector('#keyvisual');
        const overlay = document.querySelector('#overlay');

        toggleBtn.addEventListener('click', function() {
          menuEl.classList.toggle('active');
          headerEl.classList.toggle('shifted-right');
          visualEl.classList.toggle('shifted-right');
          overlay.classList.toggle('overlay');

          if (pageWrapEl.style.width !== window.innerWidth + 'px') {
            pageWrapEl.style.width = window.innerWidth + 'px';
            headerEl.style.width = window.innerWidth + 'px';
          } else {
            pageWrapEl.style.width = '';
            headerEl.style.width = '';
          }
        });
      </script>
      {% block scripts %}
      {% endblock %}
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="../static/js/custom.js"></script>
    </body>
</html>
