{% extends 'base.html' %}

{% block title %}
<title>Checkout | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
      <span class="keyvisual__description"></span>
    </h2>
  </div>
</div>

<section class="checkout__content container">
  <h1 class="title center-text">Checkout</h1>
  <div class="container-fluid checkout__container-fluid">
    <p class="blurb blurb1 center-text">We are unable to process your order at this time. We apologize for the inconvenience.</p>
    <p class="blurb blurb2 center-text">If you would like us to contact you personally about submitting an order, please enter your email and we will get back to you within 48 hours.</p>
    <form class="blurb blurb3 center-text">
      <label>email: <input type="email" name="email" placeholder=" example@example.com"></label>
    </form>
    <p class="blurb blurb4 center-text">We apologize for any inconvenience, and we look forward to serving you in the future.</p>
  </div>
  <div class="filler">
  </div>
</section>

{% endblock %}
