{% extends 'base.html' %}

{% block title %}
<title>Checkout | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual keyvisual--anchor-fixed">
  <div class="keyvisual__inner">
    <div class="keyvisual__img">
      <h1 class="keyvisual__heading">
        <span class="keyvisual__heading-text">Traditional Kokeshi</span>
        <span class="keyvisual__description">A lasting reminder of baby's birth</span>
        <span class="keyvisualkeyvisual__description"></span>
      </h1>
    </div>
  </div>
</div>
<p class="center-text">The checkout page is under extended maintenance, and we are unable to process your order. We apologize for the inconvenience.</p>
{% endblock %}
