{% extends 'base.html' %}

{% block title %}
<title>About us | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
      <span class="keyvisualkeyvisual__description"></span>
    </h2>
  </div>
</div>

<section class="about__content content">
  <h1 class="title center-text">Order Confirmation</h1>
  <h3 class="center-text">Your order has been placed successfully! Thank you for your patronage.</h3>
  <div class="container center">
    <p class="center-text">You should receive a confirmation email within a few minutes.</p>
    <p class="center-text">If it's not there, please check your junk mail, or feel free to <a href="../templates/contact.html">contact us</a> and we will assist you.</p>
    <p class="center-text">Congratulations on the new addition to the family!</p>
  </div>

</section>
{% endblock %}
