{% extends 'base.html' %}

{% block title %}
<title>Contact us | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual__inner">
    <div class="keyvisual__img">
        <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
      <span class="keyvisual__description"></span>
    </h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<section class="content container">
    <div class="center-text">
        <h3>Thank you for your inquiry.<br><span>We will get back to you within 48 hours.</span>
        </h3>
    </div>
</section>
{% endblock %}
