{% extends 'base.html' %}

{% block title %}
<title>Design a Kokeshi | Design Page | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual keyvisual--anchor-fixed">
  <div class="keyvisual__inner">
    <div class="keyvisual__img">
      <h1 class="keyvisual__heading">
        <span class="keyvisual__heading-text">Design a Kokeshi</span>
        <span class="keyvisual__description">Craft your personal message to baby</span>
        <span class="keyvisualkeyvisual__description"></span>
      </h1>
    </div>
  </div>
</div>
<section class="design__content content container">
  <h1 class="title center-text">Design a Kokeshi</h1>
  <div class="container-fluid">
    <div class="design__kokeshi-display">
      <form class="design__form" action="{{ url_for('showDesignPage') }}" method="POST">
        <p class="fine-print">Fields with '<span class="red-text">*</span>' are required</p>
        <div class="form-group">
          <label for="item-input">Kokeshi Style <span class="red-text">*</span></label></br>
          <select id="item-input" class="form-control design__select-input" v-model="item" name="item" required>
            <option value="" selected disabled hidden>Select a style</option>
            <option value="Zao">Zao</option>
            <option value="Yonezawa">Yonezawa</option>
            <option value="Sagae">Sagae</option>
            <option value="Tendo">Tendo</option>
          </select><br>
        </div>
        <div class="form-group">
          <label for="name-input">Name <span class="red-text">*</span></label><br>
          <input id="name-input" class="form-control" v-model="name" name="name" placeholder="ex: Jennifer Smith" required><br>
        </div>
        <div class="form-group">
          <label for="dob-input">Date of Birth <span class="red-text">*</span></label><br>
          <input id="dob-input" type="date" class="form-control" v-model="dob" name="dob" placeholder="ex: 04/29/2018" required><br>
        </div>
        <div class="form-group">
          <label for="height-input">Height at birth <span class="red-text">*</span></label><br>
          <input id="height-input" class="form-control" v-model="height" name="height" placeholder="ex: 51" required>cm<br>
        </div>
        <div class="form-group">
          <label for="weight-input">Weight at birth <span class="red-text">*</span></label><br>
          <input id="weight-input" class="form-control" v-model="weight" name="weight" placeholder="ex: 3200" required>grams<br>
        </div>
        <div class="form-group">
          <label class="design__message-checkbox-label">Add a personal message on the kokeshi ($50) <input id="message-checkbox" class="design__checkbox" type="checkbox" value=" " onclick="document.getElementById('message-input').disabled=!this.checked;"></label><br>
          <label for="message-input">Message</label>
          <textarea id="message-input" class="form-control design__message-input" maxlength="200" v-model="message" name="message" placeholder="Hit 'Enter' to start a new line" disabled></textarea><br>
        </div>
        <button type="submit" class="btn design__btn" @click="persist" @click="addToCart(product)">Add to Cart</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>

      <div class="design__kokeshi-model">
        <div class="design__kokeshi-info">
          <p class="design__info">[[ name ]]</p>
          <p class="design__info">[[ dob ]]</p>
          <p class="design__info">[[ height ]] cm</p>
          <p class="design__info">[[ weight ]] grams</p>
        </div>
        <div class="design__kokeshi-message">
          <p class="design__message">[[ message ]]</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
  <script>
    const selectEls = document.getElementsByTagName('select');

    function iterateSelectEls() {
      for (i = 0; i < selectEls.length; i++) {
        consol.log('Yo');
      }
    }

  </script>
{% block scripts %}

{% endblock %}
