{% extends 'base.html' %}

{% block title %}
<title>Authentic Japanese Baby Gifts -- Kokeshi</title>
{% endblock %}

{% block content_1 %}

<!-- Content section -->
<article id="home" class="article container">
  <section class="">
    <h1 class="title center-text">Traditional Japanese Baby Gifts</h1>
    <section>
      <h3 class="lead">Kokeshi dolls</h3>
      <img src="../static/img/five_kokeshi.jpg" alt="Five kokeshi on display" class="img-five-kokeshi">
      <p>Kokeshi are Japanese wooden dolls that were traditionally given to children as toys. Designed to be easily grasped in the small hands of children, they are usually fairly thin, and of varying ergonomic shapes.</p><br>
    </section>
    <section>
      <img src="../static/img/old-dude.jpeg" alt="Artisan painting a kokeshi, surrounded by other kokeshi" class="img-old-dude">
      <h3 class="lead">As Baby gifts</h3>
      <p class="">Another tradition emerged in Japan from these children's toys; When children are born, friends or relatives give life-sized kokeshi to the new baby as gifts. The dolls are made to the exact height and weight of the baby, and as the children grow, they can compare themselves to the doll to see how small they used to be.</p><br>
    </section>
    <section>
      <h3 class="lead clear">Our kokeshi</h3>
      <img src="../static/img/kokeshi-artisan.jpg" alt="Kokeshi artisan painting kokeshi" class="img-artisan">
      <p class="our-kokeshi">In keeping with tradition, our kokeshi are turned by artisans from the original Tohoku region, where the kokeshi doll was born. The child's name, birth date, birth height, and birth weight, along with a personalized message, are all thoughtfully scribed onto the back of the kokeshi.</p>
    </section>
  </section>
</article>
{% endblock %}


{% block scripts %}
{% endblock %}
