{% extends 'base.html' %}

{% block title %}
<title>Authentic Japanese Baby Gifts | Kokeshi | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">Traditional Kokeshi</span>
      <span class="keyvisual__heading-description">A lasting reminder of baby's birth</span>
    </h2>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Content section -->
<section class="content container">
  <h1 class="title center-text">
    <span class="title-primary">Welcome to KokeMama<span><br>
    <span class="title-secondary">Authentic Kokeshi baby gifts</span>
  </h1>
  <form class="container-flex--space-around" container-flex--space-around action="{{ url_for('showDesignPage') }}">
      <button type="submit" value="Go to the design page" class="btn home__btn">Start Designing</button>
  </form>
</section>
{% endblock %}
