{% extends "layout.html" %}
{% block content %}
  <form action="/charge" method="post">
    <article>
      <label>
        <span>Amount is ${{ amount }}</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="amount"
            data-locale="auto"></script>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
{% endblock %}
