<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport"
            content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Authentic Japanese Kokeshi doll baby gifts from the Tohoku region. A unique keepsake.">
        <title>Kokeshi Payment by Stripe</title>
        <style type="text/css"
            media="screen">
            form {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                width: 74%;
            }

            form article label {
                display: block;
                font-size: 30px;
                margin: 5px;
            }

            form .submit {
                margin: 15px 0;
            }

        </style>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
