{% extends 'base.html' %}

{% block title %}
<title>ご注文のリスト | KokeMama</title>
{% endblock %}

{% block content_1 %}
<div class="keyvisual keyvisual__inner">
  <div class="keyvisual__img">
    <h2 class="keyvisual__heading">
      <span class="keyvisual__heading-text">ご注文されたこけし</span>
      <span class="keyvisual__heading-description">下のご注文をチェックして情報を見られる事になります。</span>
      <span class="keyvisual__description"></span>
    </h2>
  </div>
</div>

<section class="about__content content container">
  <h1 class="title center-text">ご注文</h1>
  <div class="flex-container">
    <ul>
      {% for order in orders %}
        <li class="flex-container"><a class="btn btn-dimensions" href="{{ url_for('showAcceptOrderPage', order_id=order.orderID) }}" title="{{ order.orderID }}">{{ order.orderID }}番を選択する</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
